
<div class="card" style="margin:20px auto;background-color:#ded9ca;box-shadow: 1px 1px 1px rgba(0,0,0,.35);border:none;width:200px; height:100px">
    <div class="card-body" style="padding:10px;text-align:center">
        <h5 style="height:50px">{{city.city_name}}</h5>
        <div style="display:flex;margin-top:-10px">
            <div style="flex-grow:1;margin:auto">{{city.temp}}°</div>
            <div style="flex-grow:1"><img src="assets/images/{{imageSrc}}" style="width:30px; height:30px; border-radius:50%"></div>
        </div>
    </div>
</div>
