<div class="navbar navbar-fixed-top" style="background-color:#fb7777;height: 15vh;">
    <div class="container-fluid">
        <div class="navbar-header hover-icon">
            <a class="navbar-brand"><img src='assets/images/logo.jpeg' width="60px;"></a>
        </div>
    </div>
</div>
<div class="main-container top90">
    <div class="content-container full-height">
        {{outlet}}
    </div>
</div>
